.projects{
    display: flex;
    /* margin:auto; */
    justify-content: center;
    flex-direction: column;
    padding:70px 200px;
    text-align: center;
    background-color:#FFF9EA
}
.projects h1{
font-size: 48px;
}
.projects p{
    font-size: 18px;
    }
.projectsimage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projectsimage img{
/* height:300px !important; */
width:250px !important;
}