.img-cfo {
    width: 20%;
    height: 95%;
  }
  .img-bg {
    width: 100%;
    height: 100%;
  }
  .bg-img-div {
    position: relative;
    width: 100%;
    margin:0 !important;
    padding: 0 !important;
  }
  .cfo-img-div {
    display: flex;
    justify-content: flex-start;
    width: 72%;
  }
  .sec-1 {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    height: 800px;
    width: 100%;
  }
  .para {
    font-size: 24px;
    line-height: 28px;
  
    color: black;
  }
  .bt-div {
    width: 32%;
  }
  .bt {
    border-radius: 10px;
    color: white;
    background-color: #2765C0;
    border: none;
  
    font-weight: bold;
    width: 50%;
    height: 30px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .img1 {
    width: 290px;
    height: 360px;
    box-shadow: -25px 0px 44px 0px #b1b0b6;
    border-radius: 20px;
  }
  .img2 {
    width: 290px;
    height: 360px;
    box-shadow: -25px 0px 44px 0px #b1b0b6;
    border-radius: 20px;
  }
  .aboutus {
    position: absolute;
    width: 350px;
    height: 55px;
    left: 130px;
    top: 1070px;
  }
  .heading1 {
    /* font-family: Gilroy-Bold; */
    font-size: 26px;
    line-height: 65px;
    /* font: bold; */
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #6ba11b;
    text-decoration-thickness: 0.4rem;
    text-decoration-skip-ink: none;
    text-underline-offset: -5px;
  }
  .heading-au {
    font-size: 30px;
    line-height: 65px;
    /* font: bold; */
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #6ba11b;
    text-decoration-thickness: 0.4rem;
    text-decoration-skip-ink: none;
    text-underline-offset: -6px;
  }
  .p1 {
    font-size: 20px;
    line-height: 42px;
    font-weight: bold;
  
    color: #585961;
  }
  .heading2 {
    width: 635px;
    height: 44px;
    left: 600px;
    top: 1700px;
    font-size: 38px;
    /* line-height: 70px; */
  }
  
  .cont {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1040px;
    height: 179px;
    z-index: 1;
    bottom: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
  }
  .bg2-div {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgs-div {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
  }
  .dots {
    width: 300px;
    height: 150px;
  }
  .crl {
    width: 190px;
    height: 190px;
  }
  .about {
    width: 40%;
    height: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon1 {
    height: 20px;
    width: 20px;
  
    /* Text / Gray 100 */
  
    /* Inside Auto Layout */
  }
  .circle {
    /* position: absolute; */
    display: flex;
    border-radius: 100px;
    background-color: #f4f5f7;
    height: 50px;
    width: 50px;
    box-shadow: 0px 5px 5px #9e9e9e;
    justify-content: center;
    align-items: center;
  }
  .count-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 250px;
    align-items: center;
    justify-content: space-evenly;
  }
  .div-1 {
    width: 100%;
    height: 400px;
    display: flex;
    position: absolute;
    top: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .div-2 {
    height: 380px;
    width: 85%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .cont-upper {
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* left: 20px; */
  }
  .main-1 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .picture {
    position: relative;
    z-index: 1;
  }
  .circle-div {
    /* position: absolute; */
  }
  .dot-div {
    /* position: absolute; */
  }
  .img-back {
    position: absolute;
    height: 475px;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* z-index: 1; */
  }
  .sec-2a {
    height: 100%;
    width: 100%;
  }
  .bg-div2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading-div {
    width: 50%;
    height: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .smallcrl {
    width: 50px;
    height: 50px;
    position: absolute;
    /* height: 190px; */
    /* height: 100%; */
  }
  .smlcrlimg {
    width: 40px;
    height: 40px;
  }
  .dots2 {
    width: 300px;
    height: 150px;
  }
  .dots2-div {
    /* width: 100%; */
    position: absolute;
    /* height: 1000px; */
  }
  .img-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .colective-div {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .back-imgs {
    position: absolute;
    /* height: 50%; */
    width: 30%;
    height: 490px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .cir {
    width: 250px;
    height: 250px;
    position: relative;
  }
  .picture-img2 {
    position: absolute;
    z-index: 1;
  }
  .smallcrl-moveable {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    height: 300px;
  }
  .back2-img {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 350px;
    justify-content: space-between;
    flex-direction: column-reverse;
    /* position: absolute; */
  }
  .main-div {
    width: 100%;
    height: 100%;
  }
  .whycfo {
    padding: 105px 0px;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }
  .sec3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .box-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .boxs {
    width: 250px;
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
    border-radius: 43px !important;
    background: white;
    margin: 25px;
    margin-top: 0px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
    flex-direction: column;
  }
  .para-gap {
    width: 80%;
    height: 220px;
  }
  .icons {
    width: 30px;
    height: 30px;
  }
  .cfg-card-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
  }
  .cfo-ch {
    font-size: 14px;
    font-weight: 600;
  }
  .sec4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxs-2 {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
    border-radius: 43px !important;
    background: white;
    margin: 25px;
    margin-top: 0px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
    flex-direction: column;
  }
  .para-gap2 {
    width: 52%;
    height: 150px;
    padding: 30px;
  }
  .para-gap2 h2 {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #6ba11b;
    text-decoration-thickness: 0.5rem;
    text-decoration-skip-ink: none;
    text-underline-offset: -5px;
  }
  .ourser {
    padding: 30px 0px;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }
  .cfo-icons {
  }
  .cfo-text {
    width: 225px;
  }
  .card-box1-main {
    align-items: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .back4-imgs-main {
    width: 50%;
    height: 514px;
    display: flex;
  }
  .cfo-sec {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .hero-img1 {
    position: relative;
    height: 293px;
    width: 430px;
    /* z-index: 1; */
  }
  .hero-img2 {
    /* position: absolute; */
    width: 170px;
    height: 116px;
  }
  .hero-img3 {
    width: 140px;
    height: 95px;
    /* position: absolute; */
  }
  .hero-img4 {
    width: 245px;
    height: 166px;
    padding-bottom: 100px;
    /* position: absolute; */
  }
  .upper-imgs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    height: 250px;
    width: 308px;
  }
  .upper-imgs-main {
    position: absolute;
    display: flex;
  
    /* flex-direction: row; */
    justify-content: flex-end;
    width: 480px;
    height: 415px;
  }
  .img-h1 {
    width: 300px;
    height: 292px;
  }
  .h3-img {
    position: relative;
    bottom: 6px;
  }
.cfo-img-div{
  font-size: 64px;
}
  @media only screen and (max-width: 900px) {
    .sec-1 {
      height: 600px;
    }
    .div-1 {
      height: 270px;
    }
    .bt {
      font-size: 12px;
      width: 12%;
    }
    .cont {
      width: 780px;
    }
    .circle {
      height: 40px;
      width: 40px;
    }
    .icon1 {
      height: 15px;
      width: 15px;
    }
    .main-1 {
      width: 90%;
    }
    .img1 {
      height: 300px;
      width: 250px;
    }
    .img-back {
      height: 400px;
      width: 40%;
    }
    .crl {
      height: 150px;
      width: 150px;
    }
    .whycfo {
      width: 75%;
    }
    .colective-div {
      width: 90%;
    }
    .dots2 {
      width: 245px;
      height: 130px;
    }
    .cir {
      width: 205px;
      height: 205px;
    }
    .back-imgs {
      width: 56%;
      height: 100%;
    }
    .img2 {
      height: 300px;
      width: 250px;
    }
  }
  @media only screen and (max-width: 1330px) {
    .img-back {
      width: 30%;
    }
    .back-imgs {
      width: 33%;
    }
    .para-gap {
      width: 67%;
    }
    .whycfo {
      width: 82%;
    }
    .bt-div {
      width: 45%;
    }
    .hero-img1 {
      height: 257px;
    }
    .hero-img4 {
      height: 149px;
    }
    .img-cfo {
      width: 35%;
    }
    .para {
      font-size: 22px;
    }
  }
  @media only screen and (min-width: 1041px) and (max-width: 1200px) {
    .img-back {
      width: 33%;
    }
    .back-imgs {
      width: 35%;
    }
    .cont {
      width: 80%;
    }
    .cfo-img-div {
      width: 65%;
    }
    .hero-img1 {
      height: 255px;
    }
    .hero-img4 {
      width: 220px;
      height: 157px;
    }
    .upper-imgs-main {
      width: 460px;
    }
  }
  
  @media only screen and (min-width: 900px) and (max-width: 1040px) {
    .ourser {
      width: 90%;
    }
    .whycfo {
      padding: 50px 0px;
    }
    .para-gap {
      height: 250px;
    }
    .cont {
      width: 80%;
      height: 120px;
    }
    .img-back {
      width: 43%;
    }
    .p1 {
      font-size: 16px;
    }
    .back-imgs {
      width: 40%;
      height: 400px;
    }
    .colective-div {
      width: 70%;
    }
    .img2 {
      height: 300px;
      width: 250px;
    }
    .back2-img {
      height: 200px;
      width: 300px;
    }
    .cir {
      width: 180px;
      height: 180px;
    }
    .dots2 {
      height: 150px;
      width: 250px;
    }
    .bt {
      font-size: 12px;
      width: 46%;
    }
    .upper-imgs-main {
      width: 427px;
    }
    .cfo-img-div {
      height: 18%;
      width: 100%;
    }
    .para {
      font-size: 17px;
    }
    .hero-img4 {
      width: 189px;
      height: 137px;
    }
    .hero-img1 {
      height: 245px;
    }
  }
  @media only screen and (min-width: 499px) and (max-width: 900px) {
    .cont {
      width: 420px;
      height: 140px;
    }
    .bt {
      font-size: 10px;
      width: 65px;
    }
    .main-1 {
      width: 100%;
      flex-direction: column-reverse;
      height: 100%;
    }
    .p1 {
      font-size: 15px;
    }
    .about {
      width: 70%;
      height: 40%;
    }
    .bg2-div {
      height: 700px;
    }
    .img-back {
      width: 355px;
      height: 350px;
    }
    .colective-div {
      flex-direction: column;
      height: 100%;
    }
    .back-imgs {
      width: 39%;
      height: 69%;
    }
    .heading-div {
      height: 340px;
      width: 70%;
    }
    .back2-img {
      height: 200px;
    }
    .smallcrl {
      width: 20px;
      height: 20px;
    }
    .smallcrl-moveable {
      height: 235px;
    }
    .img2 {
      height: 220px;
      width: 200px;
    }
    .img1 {
      height: 250px;
      width: 250px;
    }
    .crl {
      height: 120px;
      width: 120px;
    }
    .dots {
      width: 280px;
      height: 120px;
    }
    .dots2 {
      width: 200px;
      height: 120px;
    }
    .cir {
      width: 160px;
      height: 160px;
    }
    .img-main {
      height: 400px;
    }
    .whycfo {
    }
    .para-gap {
      width: 100%;
      height: 375px;
    }
    .para-gap2 {
      width: 62%;
      height: 150px;
    }
  
    .ourser {
      height: 200px;
      width: 96%;
    }
  
    .cfg-card-heading {
    }
    .cfo-ch {
      font-size: 17px !important;
    }
    .boxs {
      width: 218px;
    }
    .cfo-card-text {
      font-size: 15px;
    }
    .upper-imgs-main {
      width: 352px;
      /* height: 200px; */
      justify-content: center;
      align-items: center;
    }
    .cont {
      width: 443px;
    }
    .div-2 {
      /* flex-direction: column-reverse; */
      justify-content: center;
      /* flex-wrap: wrap; */
      width: 82%;
    }
    .img-cfo {
      width: 62%;
    }
    .sec-1 {
      /* height: 900px; */
    }
    .para {
      font-size: 14px;
    }
    .h3-img {
      bottom: 50px;
      left: 20px;
    }
    .hero-img3 {
      width: 135px;
      height: 86px;
    }
    .hero-img4 {
      width: 169px;
      height: 100px;
    }
    .upper-imgs {
      width: 194px;
      height: 200px;
    }
    .hero-img2 {
      width: 160px;
      height: 97px;
    }
    .hero-img1 {
      height: 190px;
    }
    .back4-imgs-main {
      justify-content: center;
      align-items: center;
      height: 335px;
      width: 43%;
    }
  }
  @media only screen and (max-width: 500px) {
    .upper-imgs-main {
      width: 200px;
    }
    .cont {
      width: 332px;
      height: 100px;
    }
    .div-2 {
      flex-direction: column-reverse;
    }
    .upper-imgs {
      height: 167px;
      width: 167px;
    }
    .back4-imgs-main {
      display: flex;
      justify-content: center;
    }
  }