.cost{
  text-align: center;
}
.costbtn button{
border-radius: 10px;
background-color: white;
color:#22215B;
border:none
}
.flexaa{
    display: flex;
    /* justify-content: space-between; */
    /* padding:0px 70px */
    align-items: center;
}
.flexaa img{
    padding-right: 20px;
}
.ordernow{
    color:#6080E3;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    border:none
}
.cost-card{
    box-shadow: rgba(0, 0, 0, 0.12);
}
.cost-card-main{
    display: flex;
}