.navbar__logo {
    width: 180px;
    height: 40px;
  }
  .avatarlogo {
    width: 40px;
    height: 34px;
    border-radius: 50%;
  }
  .navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(245, 245, 245) !important; */
    /* background-color: white !important; */
    background-color: white !important;
    /* color: white !important; */
    color: #4285f4;
  }
  .header__membershipDropdownMenu1 {
    position: absolute !important;
    top: -2px !important;
    right: -189px !important;
    left: auto !important;
    transform: none !important;
  }
  .navbar__links a {
    font-weight: bolder;
    color: #4285f4 !important;
    font-size: 17px !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 2000;
    font-weight: 400 !important;
  }
  .navbar__links a:hover {
    font-weight: bolder;
    color: black !important;
    /* background-color: #00904a; */
    border-radius: 5px;
    font-size: 17px !important;
  }
  .headerbtn{
      border-radius:20px;
      background-color: white;
      color:#3B61DC;
      border:none;
  }
  
  @media screen and (max-width: 1000px) {
    .navbar {
      justify-content: flex-start;
      margin-left: -96px;
      width: 110%;
    }
    .navbar__logo {
      visibility: hidden;
    }
    .navbar-collapse {
      /* margin-left: 300%; */
      /* text-align: center; */
      margin-left: 270%;
      padding-top: 70px;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar {
      justify-content: flex-start;
      margin-left: -96px;
      width: 120%;
    }
    .navbar__logo {
      visibility: hidden;
    }
    .navbar-collapse {
      /* margin-left: 300%; */
      /* text-align: center; */
      margin-left: 170%;
      padding-top: 70px;
    }
  }
  @media screen and (max-width: 400px) {
    .navbar {
      justify-content: flex-start;
      margin-left: -96px;
      width: 130%;
    }
    .navbar__logo {
      visibility: hidden;
    }
    .navbar-collapse {
      /* margin-left: 300%; */
      /* text-align: center; */
      margin-left: 100%;
      padding-top: 70px;
    }
  }
  
  .header__membershipDropdownMenu {
    position: absolute !important;
    top: -42px !important;
    right: -224px !important;
    left: auto !important;
  }
  .header__membershipDropdown {
    position: relative;
  }
  .header__membershipDropdown > a {
    font-size: 16px !important;
  }
  
  .header__membershipDropdown > a:hover {
    background-color: unset !important;
    border: none !important;
    color: black !important;
    font-size: 16px !important;
  }
  